body {
  text-align: center;
  font-size: 16px;
  font-family: 'Comic Sans MS', Helvetica, sans-serif;
}
table{
	width:480px;
	margin-left:auto; 
   margin-right:auto; 
	margin-top: 50px;
visibility: hidden;
}
.selectedplayer{
  transform: scale(1.5);
   color:black;
}
td{
	width: 125px;
	height: 120px;
	border: 2px solid #cccccc;
	border-radius: 15px;

}
.over{
  border: 2px solid #b30000;
}
.selected{
  border: 2px solid #000080;
}
.button{
   display: inline-block;
   padding-right: 25px;
   float: left;
}
#players, #choice,#result {
  margin-left:auto; 
  margin-right:auto;
  padding: 20px 10px 10px 10px;
  width:400px; 
  text-align: left;
  
}
#players{
  color: #cccccc  ;
}
#players > div {
  display: inline-block;
  padding-right: 25px;
 
  width:160px;
}
#choice > div ,#result > span{
  display: inline-block;
  padding-right: 25px;
   width:120px;
   padding: 20px;
   border: 2px solid #800000;
   margin-left:10px; 
   margin-right:10px;
   font-size:15px;
   border-radius: 15px;
    
}
.choices:hover { 
    background-color: #ffffcc;
 transform: scale(1.2);
}
#buttres:hover{ 
    background-color: #ffffcc;
 transform: scale(1.2);
}

tr  div{
  width: 150px;
	height: 125px;
	 text-align: center;
  font-size: 100px;
  padding-bottom: 25px;
	border-radius: 15px;
  
}
